nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9AAB89;
    padding: 10px;
    align-items: center;
    width: 100vw;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}

.navTitle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}

a:link {
    color: white; /* Unvisited link */
    text-decoration: none; /* Removes the underline */
  }
  
  a:hover {
    color: greenyellow; /* Mouse over link */
  }
  
  a:active {
    color: blue; /* Selected/clicked link */
  }
  nav a:visited {
    color: rgb(255, 255, 255); 
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(97,136,112, 0.3);
    border-radius: 20px;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D5DDCD;
    }



.login-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 60px;
    padding: 60px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #D5DDCD;
    width: 45%;
    border-radius: 15px;
}

.login-container h4, .signUp-container h4{
    margin: 0;
}

.login-container input, .signUp-container input{
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #999;
}
input::-webkit-input-placeholder { 
    text-align: center; 
    }

.signUp-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 60px;
    padding: 60px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #D5DDCD;
    width:45%;
    border-radius: 15px;
}

button{
    background-color: #415B41;
    color: white;
    border: none;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    align-self:center;
}